body {
  background-color: #ffff;
  padding: 0;
  margin: 0;
}
.top-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cecece;
}
.bg-primary {
  background-color: #90caf9;
}
.top-header-ctn-icn {
  height: 100%;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-white {
  color: #fff !important;
}
.color-primary {
  color: #90caf9 !important;
}
.color-secondary {
  color: #4c2c69 !important;
}
.color-third {
  color: #82d173 !important;
}
.header_ctn_heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_ctn_heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-header_ctn_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
}
.top_header-ctn_logo {
  height: 100%;
  width: 250px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 45px;
  font-weight: 700;
  color: #fff;
  font-family: "roboto";
}
.big_ctn_menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #cecece;
}
.ctn_menu {
  display: flex;
  width: 1200px;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0;
  line-height: 50px;
}
.item-menu {
  list-style: none;
  font-family: "Roboto";
  font-weight: 700;
  color: #000;
  text-transform: capitalize;
  transition: 0.5s all;
  border-bottom: transparent 1px solid;
  cursor: pointer;
  height: 100%;
}
.item-menu:hover {
  border-color: #82d173;
  color: #82d173;
}
.test {
  width: 400px;
  height: 0;
  border-radius: 5px;
  background-color: #90caf9;
  margin: auto;
  opacity: 0;
}
.alert-enter-active {
  opacity: 1;
  height: 400px;
  transition: opacity 300ms, height 300ms;
}
.alert-enter-done {
  opacity: 1;
  height: 400px;
}
.alert-exit {
  opacity: 0;
  height: 0px;
  transition: opacity 300ms, height 300ms;
}
